-# coding: utf-8
!!! 5
%html
  %head
    %meta{"http-equiv"=>"Content-Type", 
         :content=>"text/html; charset=utf-8"}/
    %title= @title
    = stylesheet_link_tag :reset, :text, :"960"
    = stylesheet_link_tag :"pepper-grinder/jquery-ui"
    = stylesheet_link_tag :"useful-uls"
    = javascript_include_tag "dojo/dojo.js"
    = javascript_include_tag :application
  %body
    .content.container_12= yield
